h1 { 
    color: #2E8B57;
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

img {
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #2E8B57;
    block-size: 300px;
    align-items: center;
}



ol {
    color: brown;
}

#first-paragraph {
    color: black;
}

footer {
    background-color:navy;
    color: white;
    text-align: center;
    padding: 10px;
    position: center;
}